
<html ng-app="CatApp">
    <head>
       <script type="text/javascript" src="..\Scripts\angular.min.js"></script> 
       <script type="text/javascript" src="..\Scripts\app.js"></script>
    <script type="text/javascript" src="..\Controller\CatController.js"></script>

    </head>
    <body ng-controller="CatAppController">           
        <div ng-repeat="Cat in Cats">
            <br><br>
            <img src="..\images\Cat3.png" ng-click="CatClick(Cat.CatCnt,$index)">
            <br> Name: {{Cat.name}} <br>  Number of Clicks:  {{Cat.CatCnt}}
        </div>
    </body>
</html>