
<html ng-app="CatApp">
<head>
    <script type="text/javascript" src="..\Scripts\angular.min.js"></script> 
    <script type="text/javascript" src="..\Scripts\app.js"></script>
    <script type="text/javascript" src="..\Controller\CatController.js"></script>
</head>
<body ng-controller="CatAppController">           
    <div ng-repeat="Cat in Cats">
    <br><br>  
        <table>
            <tbody >
                <tr><td> <a  href ng-click="CatClck($index)">{{Cat.name}}</a> {{Cat.CatCnt}}</td> 
                    <div ng-show = "Cat.CatClicked">
                    <span>&#10003</span>
                        <span>&#128528</span>
                        <span>&#128522</span>
                        <span>&#128546</span>
                <img src="D:\AngularJSHM\HM2\images\Cat2.png" >   <br>             
                <a href ng-click="CatClickerincrement(Cat.CatCnt,$index )">&#9650</a>
               <br>
                <a href ng-click="CatClickerdecrement(Cat.CatCnt,$index)"> &#9660</a>
                </div>
                </tr>
            </tbody>
        </table>
    </div>        
</body>
</html>